.app {
  font-family: Arial, sans-serif;
}

.app-title {
  text-align: center;
}

.app-content {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.app-heading{
  background-color: darkslategrey;
  color: white;
  text-align: center;
}

.app-body {
  width: 30%;               
  margin: 0 auto;             
  align-items: center;        
  /* text-align: center;                         */
}